<div class="animate__animated animate__fadeIn animate__faster">
    <div class="row">
        <div class="col">
            <h1>Pais: <small>{{ pais.name.common || pais.name }}</small></h1>
        </div>
    </div>
    
    <div class="row">
        <div class="col-6">
            <h3>Información:</h3>
            <ul class="list-group">
                <li class="list-group-item">Capital: {{ pais.capital }}</li>
                <li class="list-group-item">Habitantes: {{ pais.population | number }}</li>
                <li class="list-group-item">Área: {{ pais.area | number }} &#x33A2;</li>
                <li class="list-group-item">Traducciones: <span class="badge bg-primary">{{ pais.translations['spa'].common }}</span></li>
            </ul>
        </div>
        <div class="row">
            <div class="col-6">
                <h3>Bandera: <img class="img-thumbnail" [src]="pais.flags.png" [alt]="pais.name.common"></h3>
            </div>
            <div class="col-4">
                <h3>Escudo: <img class="img-thumbnail" [src]="pais.coatOfArms.png" [alt]="pais.name.common"></h3>
            </div>
        </div>
        
        
    </div>
    
    <h3 >Json de {{ (pais.name.common != undefined) ? pais.name.common : pais.name }}</h3>
    <pre id="jsonPais" class="mt-5">
        {{ pais | json }}
    </pre>
</div>
